body {
    color: white !important;
    background-color: #23272a !important;
}

#c_ftr div {
    font-size: 12px;
}

#c_ftr div:first-child:after {
    content: ' ~ Compass Dark Theme by Ditpowuh ~ Beta v1';
}

#c_ftr div:nth-child(2):after {
    content: ' ~ Modifification - Open-sourced ~ Beta v1';
}

.ext-cal-toolbar .x-box-inner {
    color: black !important;
}

.x-component.x-box-item div {
    filter: brightness(2);
}

#aspnetForm {
    background-color: #23272a;
}

#c_bar {
    background-color: #2c2f33;
}

a {
    color: #dce6f4;
}

body .fade {
    visibility: hidden;
}
.x-toolbar-blue-toolbar .x-box-inner {
    color: black;
    border-radius: 50%;
}

.ext-cal-day-col-gutter {
    background-color: #2c2f33;
}

.ext-cal-day-time-inner {
    background-color: #363b42;
    color: #EEEEEE;
    border: 10px solid #434854;
}

.ext-cal-day-col-inner {
    background-color: black;
}

.x-toolbar-default h5 {
    color: black;
}

#container-1052-innerCt h5 {
    color: black;
}

#ext-comp-1253 {
    background-color: black;
}

.smalldesc {
    color: white;
}

#ext-comp-1253 {
    background-color: #000000 !important;
}
